* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* #region Header style */

#site_header{
    background-color: orange;
    -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

nav, .logo, .access {
    width: calc((100% / 12)*4);
    color: white;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    font-family: 'Fira Sans', sans-serif;
}

nav a:hover, i:hover {
    color: red;
    cursor: pointer;
    transition: 0.4s;
}

.logo img {
    height: 30px;
    max-width: 100%;
}

.head_space {
    padding: 2rem 0rem;
}

i {
    padding: 0.5rem;
}

/* #endregion header style */

.products {
    width: calc((100% / 12)* 4);
    padding: 2rem 0.5rem;
    position: relative;
}

.products .front, .products .back{
    max-width: 100%;
    max-height: 100%; 
}

.back {
    position: absolute;
    left: 0;
    opacity: 0;
    padding: 0 0.5rem;
} 

.back:hover {
    opacity: 1;
    transition: all 0.7s ease;
}

.brand {
    color: grey;
    font-family: 'Crimson Text', serif;
}

.pr_description {
    font-family: 'Bebas Neue', cursive;
    font-size: larger;
}

.price {
    font-family: 'Bebas Neue', cursive;
}

.discount {
    color: orange;
}

.total {
    text-decoration: line-through;
}

.badge {
    position: absolute;
    bottom: 25%;
    font-family: 'Archivo', sans-serif;
}

.discount_box {
    background-color: red;
    color: white;
    padding: 0.25rem 0.5rem;
}

.env_friendly {
    background-color: green;
    color: white;
    padding: 0.25rem 0.5rem;
}

.like {
    height: 50px;
    width: 50px;
    background-color: white;
    position: absolute;
    top: 7%;
    right: 2%;
}

.heart_position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2rem;
}

.heart_position:hover {
    color: red;
    transition: 0.4s;
    cursor: pointer;
}